@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  padding: 2rem;
  margin-top: -90px;
  margin-bottom: 0;
  min-height: 100vh;
  min-width: 100vw;
  text-align: left; 
  background: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExOXBtOGkzNWoyajZmeWE0cXYwaDB6cnpnbzB0YXNzcDY0bWFldHlndSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xTiTnxpQ3ghPiB2Hp6/giphy.gif") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.home-left {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 1rem;
}

.home-right {
  max-width: 600px;
}

.profile-section {
  text-align: center;
  margin: 20px 0;
}

.profile-img {
  width: 450px; 
  height: 450px; 
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;

}

.profile-section p {
  font-size: 1.4rem; 
  font-weight: 500;
  margin-top: 5px;
}

.animated-roles-container {
  font-family: "Times New Roman", serif;
  font-size: 3.5rem;
  font-weight: 600;
  color: #82c7ff;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.static-text {
  color: #d1e8ff;
}

.name {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.animated-text {
  color: #00a2ff;
  font-weight: 700;
  min-width: 130px;
  display: inline-block;
  text-transform: capitalize;
}

.home-intro {
  font-size: 1.13rem;
  color: #d1e8ff;
  line-height: 1.5;
}
