.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  padding: 2rem;
  margin-top: -90px;
  text-align: left; 
}

.home-left {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 1rem;
}

.home-right {
  max-width: 600px;
}

.profile-section {
  text-align: center;
  margin: 20px 0;
}

.profile-img {
  width: 450px; 
  height: 450px; 
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;

}

.profile-section p {
  font-size: 1.4rem; 
  font-weight: 500;
  margin-top: 5px;
}

.animated-roles-container {
  font-family: "Times New Roman", serif;
  font-size: 3.5rem;
  font-weight: 600;
  color: #82c7ff;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.static-text {
  color: #d1e8ff;
}

.animated-text {
  color: #00a2ff;
  font-weight: 700;
  min-width: 130px;
  display: inline-block;
  text-transform: capitalize;
}

.home-intro {
  font-size: 1.13rem;
  color: #d1e8ff;
  line-height: 1.5;
}
